In [1]:
# Librerías
import pandas as pd

In [2]:
d = {
    "Nombre": ['Juan','María','Pedro','Carlos','Andrea','Peter'],
    "Edad": [25,27,21,36,32,45]
}

df = pd.DataFrame(d)

df.head()

   Nombre  Edad
0    Juan    25
1   María    27
2   Pedro    21
3  Carlos    36
4  Andrea    32